# --- .gitignore ---
# Python & System
__pycache__/
*.py[cod]
venv/
.env
.vscode/

# Dataset
data/
!data/.gitkeep

# Logs de entrenamiento
runs/
mlruns/
models_history/
wandb/

# Archivos temporales
*.mp4
*.jpg
*.png
!models/test/*.jpg
# Ignorar pesos sueltos en cualquier carpeta
*.pt

# Permitir explícitamente modelo final
!models/best_v1.pt